.seta {
  position: absolute;
  bottom: -8.5%;
  left: 10%;
}

@media (min-width: 768px) {
  .subtitulo {
    max-width: 45%;
  }

  .card {
    max-width: 60%;
    margin: auto;
  }

  .seta {
    bottom: -18%;
  }
}
