.cabecalho {
  margin: 40px 100px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
  z-index: 1001; /* Para garantir que os itens dentro do cabeçalho fiquem sobre outros conteúdos */
}

.cabecalho-container a {
  text-decoration: none;
  color: var(--preto);
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.cabecalho-container a:hover {
  opacity: 0.5;
}

.cabecalho-botao {
  background-color: transparent;
  border: 1px solid var(--preto);
  padding: 20px 35px;
  border-radius: 14px;
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cabecalho-botao:hover {
  background-color: var(--chumbo);
  color: white;
}

.cabecalho-navegacao {
  display: flex;
  gap: 40px;
  align-items: center;
}

.botao-menu {
  display: none;
}

.lista-oculta {
  display: none;
}

@media (max-width: 768px) {
  .cabecalho {
    margin: 0;
    position: sticky;
    top: -2px;
    background-color: #fff;
    z-index: 1002; /* Aumenta o z-index para garantir que o cabeçalho fique acima do conteúdo */
    padding: 10px 20px;
  }

  .logo {
    height: 25px;
  }

  .cabecalho-navegacao {
    display: none;
  }

  .botao-menu {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 5.5px;
    cursor: pointer;
  }

  .cabecalho-container {
    align-items: center;
  }

  .cabecalho-botao {
    display: none;
  }

  .lista-oculta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    box-sizing: border-box;
  }

  .lista-oculta a {
    text-decoration: none;
    color: var(--preto);
    font-size: 26px;
  }

  .lista-oculta button {
    display: block;
    width: 100%;
    background-color: var(--chumbo);
    color: white;
    border: none;
    padding: 20px 35px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .lista-oculta button:hover {
    opacity: 0.8;
  }

  .lista-oculta.ativo {
    transform: translateY(0);
  }

  .fundo-desfocado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 998;
    backdrop-filter: blur(5px);
  }

  .fundo-desfocado.ativo {
    opacity: 1;
    pointer-events: auto;
  }
}
