.rodape {
  margin: 140px 100px 0 100px;
  background-color: var(--chumbo);
  padding: 55px 60px;
  border-radius: 45px 45px 0 0;
}

.rodape-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
}

.navegacao-links {
  display: flex;
  gap: 40px;
}

.navegacao-links a {
  color: var(--branco);
  font-size: 18px;
  font-weight: 400;
}

.rodape-social {
  display: flex;
  gap: 20px;
}

.rodape-contato {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--branco);
  padding-bottom: 50px;
}

.rodape-contato h4 {
  background-color: var(--verde);
  display: inline-block;
  padding: 1px;
  border-radius: 5px;
  margin-bottom: 7px;
}

.rodape-contato p {
  color: var(--branco);
  margin-top: 20px;
}

.rodape-input {
  display: flex;
  gap: 20px;
  background-color: var(--chumbo-claro);
  padding: 58px 40px;
  border-radius: 14px;
}

.rodape-input input {
  border: none;
  padding: 20px 80px 20px 35px;
  border-radius: 14px;
  background-color: transparent;
  border: 1px solid var(--branco);
}

.rodape-input input::placeholder {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-weight: 400;
}

.rodape-input button {
  background-color: var(--verde);
  padding: 20px 35px;
  border-radius: 14px;
  border: none;
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.rodape-direitos {
  display: flex;
  align-items: center;
  color: var(--branco);
  gap: 40px;
  padding-top: 50px;
}

.rodape-direitos a {
  color: var(--branco);
  font-size: 18px;
  font-weight: 400;
}

.rodape-social-mobile {
  display: none;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .rodape {
    margin: 0;
    padding: 50px 20px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .rodape-navegacao {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .rodape-navegacao img {
    height: 25px;
  }

  .navegacao-links {
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    text-align: center;
  }

  .navegacao-links a {
    text-decoration: none;
  }

  .rodape-contato {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .rodape-contato-info {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .rodape-contato-info p {
    margin-top: 10px;
  }

  .rodape-input {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: 90%;
  }

  .rodape-direitos {
    flex-direction: column;
    gap: 15px;
  }

  .rodape-direitos a {
    text-decoration: none;
  }

  .rodape-social-mobile {
    display: block;
    padding: 15px 0 30px 0;
  }

  .rodape-social-mobile {
    display: flex;
    gap: 20px;
  }

  .rodape-social a {
    display: none;
  }
}
